.apartment_description p {
  margin-block: 0rem;
  margin-top: 1rem;
  font-family: "Montserrat", "serif";
}

.description_header {
  background-color: #ff6060;
  color: white;
  padding: 0.4em 1em;
  border-radius: 0.7rem;
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 30px;
  cursor: pointer;
}

.description_content {
  position: relative;
  top: -2rem;
  z-index: 1;
  background-color: #fbfbfb;
  background-color: #f6ff00;
  color: black;
  padding: 1rem;
  border-radius: 0.7rem;

}