.navbar {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  color: black;
  font-weight: 400;
  gap: 1.5rem;
  text-decoration: none;
}

.navbar :hover {
  text-decoration: underline;
  cursor: pointer;
  color: #ff6060;
}

.navbar a.active {
  text-decoration: underline;
}

a {
  color: black;
  font-family: "Montserrat", "serif";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.navbar>*:first-child {
  margin-right: auto;

}

.logo {
  max-width: 45%;
  margin-left: 1.5rem;
}